.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #112233;
    padding: 20px;
}

.wrapper{
    display: inline-flex;
    width: 100%;
}

.menu{
    width: 30%;
}

.content{
    width:70%;
}

.header{
    text-align: center;
}